/* 공통사항 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #eae8fe;
}

ul,
li {
  list-style: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
/* 헤더 간판 */
.sign {
  width: 386px;
  height: 164.12px;
  margin: auto;
  display: block;
}

.first {
  width: 360px;
  height: 545px;
  background: white;
}

/* 자판기 공간값 */
.wrap-can {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 130px);
  gap: 12px;
  padding: 31px 27px 0px 27px;
}
/* 콜라 스타일 */
.cola {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 5px #929292;
  font-size: 9px;
  font-weight: 500;
}

.cola {
  display: flex;
  flex-direction: column;
}

.cola img {
  width: 35px;
  height: 64px;
  margin: 11px 29px 0px 29px;
  align-items: center;
}

.can-name {
  font-size: 9px;
  font-weight: bolder;
  margin: 0 auto;
  padding-bottom: 3px;
}

.cola-btn {
  width: 70px;
  border-radius: 50px;
  background: #6327fe;
  color: #fff;
  font-size: 12px;
  margin: 0 auto;
}

.red,
.green {
  border: 3px solid #6327fe;
  box-shadow: none;
}

.violet {
  position: relative;
}
.sold-out {
  position: absolute;
  width: 100%;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  z-index: 1;
}
.sold-out-img {
  position: absolute;
  z-index: 2;
  object-fit: scale-down;
}

/* 입금액 및 잔돈 공간 값 */
.wrap-money {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 33px) 106px;
  gap: 14px;
  padding: 20px 20px 0px 27px;
  grid-template-areas:
    "a a b"
    "c c d"
    "e e f";
}
.money {
  border-radius: 5px;
  box-shadow: 0 0 5px #929292;
  font-size: 9px;
  font-weight: bold;
}

.money {
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.balance {
  grid-area: a;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 28px;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-blance {
  grid-area: b;
}

.input {
  grid-area: c;
}

.btn-input {
  grid-area: d;
}

.shopping-list {
  grid-area: e;
}

.btn-buy {
  grid-area: f;
}

.btn-buy {
  width: 94px;
  height: 106px;
  background-color: #6327fe;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 5px;
  border: 0;
}

/* 장바구니스타일 */
.wrap-list {
  height: 85px;
  background: #eae8fe;
  box-shadow: 0 0 5px #929292;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  overflow-y: scroll;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

.wrap-list::-webkit-scrollbar {
  width: 4px;
}
.wrap-list::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 50px;
  background-clip: content-box;
}
.wrap-list::-webkit-scrollbar-track {
  background-color: #eae8fe;
  border-radius: 50px;
}

.list {
  width: 155px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
}

.list img {
  width: 18px;
  height: 33px;
}

.list p {
  font-size: 9px;
  font-weight: bolder;
}

.list-cnt {
  font-size: 14px;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

/* money 부분 스타일 */
input[type="text"] {
  width: auto;
  height: auto;
  font-size: 13px;
  color: #bdbdbd;
  border-radius: 5px;
  border: 0;
  outline: none;
}
.balance {
  background-color: #eae8fe;
}

.btn-input,
.btn-balance {
  border: 0;
  background-color: white;
  font-size: 13px;
  font-family: Noto Sans KR;
}

/* 두번째 센셕 소지금 */
.second {
  width: 360px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second .my-money {
  width: 306px;
  background-color: #eae8fe;
  margin: 9px 27px;
  border-radius: 5px;
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* justify-content: center; */
  gap: 0 28px;
  justify-content: space-between;
}

.second .my-money p {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  padding: 6px 10px;
}

/* 획득한  결과 */
.third {
  width: 360px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.third h2 {
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
}

/* 개별 음료 획득 스타일 */
.wrap-result {
  width: 306px;
  height: 364px;
  background: #eae8fe;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.get-dirnk {
  width: 276px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
}

.get-dirnk img {
  width: 18px;
  height: 33px;
}

.get-dirnk p {
  font-size: 9px;
  font-weight: bolder;
}

.drink-cnt {
  font-size: 14px;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.total {
  font-size: 12px;
  display: flex;
  margin-left: auto;
  padding-right: 20px;
}
/* 전체 페이지 공간 배치 */
main {
  display: flex;
  width: 1224px;
  max-width: calc(100% - 60px);
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 70px;
}

@media (max-width: 1024px) {
  main {
    flex-direction: column;
  }
  main {
    border-right: 0;
    padding-right: 0;
    min-height: auto;
    transform: translate(-50%, 50%);
  }
}
